* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  background-color: #f2ebe3;
  color: #6c7289; }

a:link,
a:visited {
  text-decoration: none;
  text-transform: none; }

.heading-tertiary {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.5rem; }

.heading-primary {
  font-family: "Fraunces", sans-serif;
  color: #1c232b;
  font-size: 3.8rem;
  line-height: 1; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 3.6rem; } }

.paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5; }
  @media only screen and (max-width: 37.5em) {
    .paragraph {
      width: 93%; } }

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
  justify-content: center;
  align-content: center;
  height: 100vh; }
  @media only screen and (max-width: 37.5em) {
    .card {
      grid-template-columns: 95%;
      grid-template-rows: 30rem 40rem; } }
  .card__image {
    background-image: url(../images/image-product-desktop.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .card__image {
        background-image: url(../images/image-product-mobile.jpg);
        background-size: cover;
        background-position: center;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem; } }
    .card__image:hover {
      transform: scale(1.01); }
  .card__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    background-color: white;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .card__content {
        gap: 0;
        padding: 2rem 2rem 0rem;
        justify-content: space-evenly;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem; } }
    .card__content--price {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-family: "Fraunces", sans-serif;
      color: #3c8067;
      font-size: 3rem; }
      .card__content--price span {
        font-family: "Montserrat", sans-serif;
        color: #6c7289;
        font-size: 1.4rem;
        text-decoration: line-through; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.2rem 0;
  width: 100%;
  background-color: #3c8067;
  border: none;
  border-radius: 1rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s; }
  @media only screen and (max-width: 37.5em) {
    .btn {
      padding: 1.5rem 0rem; } }
  .btn:hover {
    background-color: #2c5e4b; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }
