* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  // @media only screen and (max-width: $bp-small) {
  //   font-size: 60%;
  // }
}

body {
  font-size: 1.4rem;
  background-color: $color-primary-cream;
  color: $color-neutral-blue-grayish;
}

a:link,
a:visited {
  text-decoration: none;
  text-transform: none;
}
