.product-type {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
}

.heading-primary {
  font-family: "Fraunces", sans-serif;
  color: $color-neutral-blue-dark;
  font-size: 3.8rem;
  line-height: 1;

  @media only screen and (max-width: $bp-small) {
    font-size: 3.6rem;
  }
}

.paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;

  @media only screen and (max-width: $bp-small) {
    width: 93%;
  }
}
