//Primary
$color-primary-cyan: hsl(158, 36%, 37%);
$color-primary-cream: hsl(30, 38%, 92%);

//Neutral

$color-neutral-blue-dark: hsl(212, 21%, 14%);
$color-neutral-blue-grayish: hsl(228, 12%, 48%);
$color-white: hsl(0, 0%, 100%);
